<div class="row">
    <div class="col-md-5">
        <app-regional *ngIf="categoryFestivals === 'regional'"></app-regional>
       <app-seasonal *ngIf="categoryFestivals === 'seasonal'"></app-seasonal>
       <app-festival-in-month *ngIf="categoryFestivals === 'monthly'"></app-festival-in-month>
    </div>
    <div class="col-md-7">
        <app-festival-details *ngIf="categoryFestivals === 'regional' 
        || categoryFestivals === 'seasonal'
        || categoryFestivals === 'monthly'">
        </app-festival-details>
    </div>
</div>
